
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.personal-portfolio-website-jdz {
  box-sizing: border-box;
  padding-top: 9.4rem;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #f7f8f1;

  .auto-group-teqe-4pg {
    flex-shrink: 0;
    margin: 0rem 30.7rem 4.3rem 12.65rem;
    width: calc(100% - 43.35rem);
    display: flex;
    align-items: flex-start;

    .home-gDn {
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 15.95rem 0rem 0rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
    }
    .services-vP2 {
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.6rem 10.05rem 0rem 0rem;
      font-size: 2.4rem;
    }
    .works-SMN {
      margin-right: 14rem;
      color: #000000;
      white-space: nowrap;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .notes-xac {
      margin: 0.5rem 10.55rem 0rem 0rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .experience-4tY {
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-eeor-bda {
    box-sizing: border-box;
    width: 144.7rem;
    height: 85.1rem;
    background-repeat: no-repeat;
    padding: 20.2rem 63.55rem 38.4rem 52.25rem;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:e845bd17423b4670d01666379dd8aefd7b762043');
    flex-shrink: 0;

    .hey-there-im-asma-u8U {
      max-width: 28.9rem;
      text-align: center;
      font-size: 9.6rem;
      font-weight: 400;
      line-height: 1.38;
      color: #000000;
      font-family: Hurricane, 'Source Sans Pro';
    }
  }
}
